body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

video {
  border: 2px solid #282c34;
  border-radius: 8px;
  margin: 0 10px;
  width: 45%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .video-container {
    flex-direction: column;
  }

  video {
    width: 90%;
    margin: 10px 0;
  }
}
